{% extends 'base.html' %} 
{% load static %} 
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="container h-100">
    <div class="row justify-content-center">
        <div class="my-50">
            <h1 id="title-logo">USUPPLEMENT</h1>
            <div class="text-center">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn-lg rounded-8 btn btn-outline-dark">Shop Now</a>
                </h4>
            </div>
            <div class="text-center">
                <h4>
                    <a href="{% url 'blog' %}" class="read-our-blog btn-sm rounded-8 btn btn-outline-none">Read our blog</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
