html {
    height: 100%
}

body {
    background: url('/media/pills_high_def.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); /*164 is the eventual height of our top header */
    font-family: 'Sansita Swashed', cursive;

}

button:focus {
    outline: none;
}

.navbar {
    background-color: #313638;
    box-shadow: 0 16px 48px #E3E7EB;
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    color: #313638 !important;
}

.text-nav {
    color: white;
    padding: 1px 0;
}

.text-nav:hover {
 color: gainsboro;
}

.search-box {
    background-color: white;
}

.fa-search {
    color:  #313638;
}

.dropdown-item {
    color: black;
}

/* from Bulma as this will ensure that all font awsome stays centered and consistent size*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* end of Bulma */

#title-logo {
    font-size:10vw;
    color:  #313638;
}

.shop-now-button {
    
    color: white;
    min-width: 160px;
}

.read-our-blog {
    color: black;
    border: #343a40 !important;
}

.remove-item {
    cursor: pointer;
} 

.btn-black {
    background: #313638;
    color: white;
}

.btn-outline-black { /*to reverse the above when hovered*/
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover, /*to reverse the above when hovered*/
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black !important; /*use this for id=topnav in base.html, not working*/
}

/* copied from CI lesson */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1; /*so sits behins all the content*/
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) { /*hide the label on remember me checkbox on the login page since all the other input will have placeholders*/
    display: none;
}

.allauth-form-inner-content input::placeholder { /*making sure the placeholders have the same color as the rest of the site*/
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* default bootstrap btn copied from inspector */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* pad the top a bit when navbar is collapsed on mobile. This was copied from Code Institute lesson*/
@media (max-width: 991px) {
    .header-container {
        padding-top: 56px;
    }

    body {
        height: calc(100vh - 56px);
    }

    .dropdown-item {
    color: white;
    }
    .text-nav {
        font-size: 30px;
    }

    #title-logo {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .read-our-blog {
        font-size: 20px;
    }

    #all-products-link {
        padding-bottom: 17px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px; /*again this is for the main page header height */
    }
}

  @media (min-width: 768px) and (max-width: 1024px) {
       .text-nav {
        font-size: 30px;
    }
    .dropdown-item {
    font-size: 27px;
    color: white;
    background-color: #313638;
    }

    #title-logo {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .read-our-blog {
        font-size: 35px;
    }
    .shop-now-button {
    
    color: white;
    min-width: 160px;
    font-size: 35px;
    }
    .blog-container{
        margin-top: 50px
    }
    .blog-col {
        padding-top:10px;
        padding-bottom: 10px;
        margin-top:50px;
    }
    .card-text {
        font-size: 30px;
    }
}
  