<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose a category:
            </a>
            <div class="bg-transparent text-center dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All supplements</a>
                <a href="" class="dropdown-item">Multi Vitamins</a>
                <a href="" class="dropdown-item ">Vitamin a/b</a>
                <a href="" class="dropdown-item ">Vitamin c/d</a>
                <a href="" class="dropdown-item">Vitamin e</a>
            </div>
        </li> 
    </ul>
</div>